{% extends "base.html" %}
{% block content %}




	{%with messages=get_flashed_messages()%}
	{%if messages %}
	<ul>
		{%for message in messages%}
		{%if message=='Registro Duplicado sin guardar' %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <li>{{message}}</li>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
		{%else%}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
            <li>{{message}}</li>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
		{%endif%}
		{%endfor%}
	</ul>
	{%endif%}
	{%endwith%}
<form class="card-body" action="/add_manager" method="POST">

		<div class="card">
			<form action="{{ url_for('add_manager') }}" method="POST"></form>
				<div class="card-body">
					<div class="card text-center">
						<nav style="background:midnightblue">
						<h1 class="card-title-center text-white">Agregar Gestor</h1>
						</nav>
					</div>
					<br>
						<div class="row justify-content-center">
							<div class="col-sm-2 justify-content-end">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="midnightblue" class="bi bi-card-heading" viewBox="0 0 16 16">
									<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
									<path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
								</svg>
							</div>
							<div class="col-sm-3 justify-content-start">
								<div class="input-group-lg">
									<input type="text" class="form-control" pattern="[0-9]{10}" name="manager_ci" placeholder="Cedula del Gestor" id="manager_ci" required maxlength="10">
							</div>
						</div>
					</div>
					<br>

					<div>
						<div class="row justify-content-center">
							<div class="col-sm-2 justify-content-end">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="midnightblue" class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							</div>
							<div class="col-sm-3 justify-content-start">
								<div class="input-group-lg">
									<input type="text" class="form-control" name="manager_name" placeholder="Nombre del Gestor" id="manager_name" required>
								</div>

							</div>
						</div>
					</div>
					<br>

					<div>
						<div class="row justify-content-center">
							<div class="col-sm-2 justify-content-end">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="midnightblue" class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
								</svg>
							</div>
							<div class="col-sm-3 justify-content-start">
								<div class="input-group-lg">
									<input type="email" class="form-control" name="manager_email" placeholder="Email del Gestor" id="manager_email" required>
								</div>

							</div>
						</div>
					</div>
					<br>

					<div>
						<div class="row justify-content-center">
							<div class="col-sm-2 justify-content-end">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="midnightblue" class="bi bi-telephone-fill" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
								</svg>
							</div>
							<div class="col-sm-3 justify-content-start">
								<div class="input-group-lg">
									<input type="text" class="form-control" pattern="[0-9]{10}" name="manager_phone" placeholder="Número Telefónico" id="manager_phone" required maxlength="10">
								</div>

							</div>
						</div>

					<br>

						<div class="row justify-content-center">
							<div class="col-sm-2 justify-content-end">
								<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="midnightblue" class="bi bi-building" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
									<path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
								  </svg>
							</div>
							<div class="col-sm-3 justify-content-start">
								<div class="input-group-lg">
									Escoja el Area de Gestor
									<select class="form-control form-select-sm" name="manager_area" required>
										<option selected></option>
										{% for n in areas%}
										<option value={{n.area_id}}>{{n.area_name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

					<br>
					<div >



				</div>

				</div>
				<br>
				<div class="card text-center border-white">
					<div class="d-grid gap-2 col-1 mx-auto">
						<input class="btn btn-primary" type="submit" value="Guardar Registro">
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-sm-1">
						<div class="card text-center bg-transparent border-white">
							<a class="btn btn-outline-light" type="button" href="{{ url_for('admin_profile') }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="midnightblue" class="bi bi-house-door-fill" viewBox="0 0 16 16">
									<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>


		</div>
	</form>

	<br>


{% endblock %}
